.btn {
  width: 12rem;
  min-width: 5rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary {
  background-color: $color-primary;
  color: $color-light;
  transition: background-color .2s ease-in-out;
}

.btn-primary:hover {
  background-color: $color-primary-darker;
}